{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>登录页面</title>


		<!-- basic styles -->

		<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
		<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="{% static 'assets/css/font-awesome-ie7.min.css' %}" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="{% static 'assets/css/ace-fonts.css' %}" />

		<!-- ace styles -->

		<link rel="stylesheet" href="{% static 'assets/css/ace.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/ace-rtl.min.css' %}" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="{% static 'assets/css/ace-ie.min.css' %}" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="{% static 'assets/js/html5shiv.js' %}"></script>
		<script src="{% static 'assets/js/respond.min.js' %}"></script>
		<![endif]-->
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<span class="white">ECHO信息管理平台</span>
								</h1>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger center">
												<i class="icon-coffee green"></i>
												请输入用户名和密码
											</h4>

											<div class="space-12 center"></div>
                                            <!--如果登录的form报错，则显示相关报错信息-->
                                            {% if form.errors %}
                                            <p class="red">用户名与密码不匹配</p>
                                            {% endif %}


                                            <!--建立一个用于登陆的form表单-->
											<form class="center" method="post" action="{% url 'login' %}">
                                            {% csrf_token %}
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
                                                            用户
                                                            {{ form.username }}
															<i class="icon-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															密码
                                                            {{ form.password }}
															<i class="icon-lock"></i>
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix center">


														<button type="submit" class="width-100 pull-left btn btn-sm btn-primary">
															<i class="icon-key"></i>
															登录
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
                                                <!--跳转页面，该跳转页面的next值会从view传递过来的context中获取-->
                                                <input type="hidden" name="next" value="{{ next }}" />
											</form>




										</div><!-- /widget-main -->


									</div><!-- /widget-body -->
								</div><!-- /login-box -->




							</div><!-- /position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src={% static 'assets/js/jquery.min.js' %}>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
     window.jQuery || document.write("<script src={% static 'assets/js/jquery.min.js' %}>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src={% static 'assets/js/jquery.mobile.custom.min.js' %}>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			function show_box(id) {
			 jQuery('.widget-box.visible').removeClass('visible');
			 jQuery('#'+id).addClass('visible');
			}
		</script>
</body>
</html>
